fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-core
langchain-community
langchain-mistralai
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
python-docx
docx2txt
python-multipart
jinja2